@import "~bootstrap/scss/bootstrap";

:root {
    --background: white;
    --color-primary: #131414;
    --color-text: rgb(221, 217, 217);
}

  body {
      background-color: var(--background);
  }
.navbar {

    background-color: var(--color-primary);
}

.navbar a {
    color: var(--color-text);
}

  

