@import "~bootstrap/scss/bootstrap";

:root {
    --background: rgb(189, 228, 245);
    --color-primary: rgb(115, 113, 216);
    --color-text: rgb(210, 117, 117);
}

  body {
      background-color: var(--background);
  }
.navbar {

    background-color: var(--color-primary);
}

.navbar a {
    color: var(--color-text);
}

  

